.title-label {
  display: block;
  color: $form_color;
  font-size: scut-rem($font_size_important);
  margin-bottom: 8px;

  @include media(phone) {
    font-size: scut-rem($font_size_important - 3px);
    margin-bottom: 1px;
  }
}

.list-form {
  @extend %flex-column;
  margin: 10 auto 0 auto;
  color: $form_color;

    @include media(phone) {
      padding-left: 10px;
      margin: 0;
    }

  .form-group {
    @include flex(row, center, center);
    @include size(500px, 50px);
    border-radius: 5px;
    margin-bottom: 5px;

      @include media(phone) {
        justify-content: start;
        margin: 0;
        width: auto;
      }

    .form-input {
      @extend %input-border;
      padding: 10px;
    }

    .index-label {
      margin-right: 10px;
    }

    .item-submit {
       @include media(phone) {
         display: flex;
         justify-content: space-evenly;
         width: 100%;
       }
    }

    .item-submit-single {
      @include flex(row, center, center);
    }

    .spacer {
      @include size(101px, 38px);
    }
  }

  .error-container {
    margin-top: -10px;
    margin-bottom: 30px;
    height: 20px;
  }
}

//login form
.vertical-form {
  .form-group {
    margin: auto;
    width: 66%;

    .form-input {
      @extend %input-border;
      margin-bottom: 10px;
      padding: 10px 0 10px 10px;
      width: 100%;
    }
  }
}

.vertical-form-label {
  .form-group {
    width: 300px;
    height: 100%;

    .form-input {
      @extend %input-border;
      margin-bottom: 15px;
      padding: 10px;
      width: 100%;
    }
  }
}

.horizontal-form {
  width: 900px;
  padding: 0 25px 25px 25px;
  color: $form_color;

  @include media(phone) {
    padding: 0 10px;
    width: 100%;
  }

  .form-group {
    @include flex(column);
    padding: 10px;

    @include media(phone) {
      padding: 0 0 10px 0;
      width: 100%;
    }

    .row {
      display: flex;
      width: 100%;

      .input {
        width: 45%;
      }

      .letter {
        margin: auto;
      }
    }

    .form-input {
      @extend %input-border;
      padding: 10px 0 10px 10px;
      width: 100%;

      @include media(phone) {
        padding: 5px 0 5px 5px;
      }
    }

    .radio-input {
      @extend %input-border;
      justify-content: space-evenly;
      align-items: center;
      height: 100%;
    }
  }
}

//Template to a form grid that emulates bootstrap gris using flexbox
.form-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  @include media(phone) {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

// grid calculation
$a: 8.33;

@for $i from 1 through 12 {
  .flex-col-#{$i} {
    width: percentage(($a * $i)/100);
  }
}

//if your width is to overwrite then use double dash "flex-col--2"
$imporatnt: !important;

@for $i from 1 through 12 {
  .flex-col--#{$i} {
    width: (percentage(($a * $i)/100) $imporatnt);
  }
}

// for responsive
@media screen and (max-width:768) {
  $a: 100;

  @for $i from 1 through 12 {
    .flex-col-#{$i} {
      width: percentage(($a)/100);
    }
  }
}


//testing

.form-group-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .form-group {
    width: 48%;
  }
}