  .pagination {
    display: flex;
    padding-left: 15px;
    margin: 0;

    @include media(phone) {
      padding: 0;
    }

    li {
      @include media(phone) {
        margin-top: 0;
      }
      a {
        color: $color_black;
      }
    }
  }