.item {
  height: auto;

  @include media(phone) {
    @include size(100%, auto);
  }
}

.item-admin {
  margin: 0 12px 24px 12px;

  @include media(phone) {
    margin: 0 0 10px 0;
  }
}

.item-public {
  margin: 0 12px 14px 12px;

  @include media(phone) {
    margin: 0 0 10px 0;
  }
}

.item-container {
  @include size(450px, auto);
  display: flex;
  background-color: $main_color_1;

  @include media(phone) {
    @include size(95%, 90%);
    margin: auto;
  }
}

.left-container {
  @extend %flex-column;
  width: 35%;

  @include media(phone) {
    width: 32%;
  }

  .item-thumb-container {
    @extend %clearfix;

    .thumb-background {
      @include size(200px, 200px);
      @extend %background-image-normalize;
      display: block;
      margin: -45px 0 0 -45px;
      padding: 60px 0 0 65px;
      background-image: url("assets/images/Polygon1.svg");

      @include media(phone) {
        @include size(150px, 150px);
        margin: -35px 0 0 -40px;
        padding: 45px 0 0 50px;
      }

      .thumb-size {
        @include size(85px, 85px);

        @include media(phone) {
          @include size(65px, 65px);
        }

        .item-thumb {
          @include size(100%, 100%);
          @extend %background-image-normalize;
          display: block;
        }
      }
    }
  }

  .button-container {
    height: 30%;

    @include media(phone) {
      height: 50%;
      display: flex;
      align-items: flex-end;
      padding: 0 0 15px 0;
      font-size: 12px;
    }
  }
}

.right-container {
  @extend %flex-column;
  width: 65%;
  margin-right: 10px;

  @include media(phone) {
    width: 68%;
    margin: 0;
  }
}

.item-title {
  height: 90px;

  &-text {
    @include text($font_size_subtitle, 600, $color_grey);
    margin-top: 10px;
    text-align: center;
    line-height: 25px;

    @include media(phone) {
      margin-top: 5px;
      font-size: 20px;
    }
  }
}

.item-info {
  padding-left: 30px;

  @include media(phone) {
    padding: 0 0 15px 0;
  }

  .info-row {
    @extend %flex-row;
    padding-bottom: 15px;
    height: 40px;

    @include media(phone) {
      padding-bottom: 0px;
      height: 30px;
    }

    .info-item {
      @include flex(row, null, center);
      @include size(50%, 100%);

      .info-text {
        @extend %center-align;
        margin-left: 3px;
        height: 100%;

        @include media(phone) {
          margin: 0;
        }
      }

      .info-text-normal {
        @include text(12px, $font_weight_subtitle, white);

        @include media(phone) {
          font-weight: 400;
        }
      }

      .info-text-bold {
        @include text($font_size_important, bold, white);

        @include media(phone) {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }

  .info-row-filial {
    @include flex(row);
    height: 40px;

    .info-item-filial {
      @include flex(row);
      @include size(100%, 100%);
      text-align: right;

      .info-text {
        @include size(100%, 100%);
        margin-right: 2rem;
        color: white;
        vertical-align: middle;
        font-size: $font_size_text;
        line-height: 180%;
        font-weight: $font_weight_subtitle;

        span {
          font-size: $font_size_important;
          font-weight: bold;
        }
      }
    }
  }
}