@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin radius($value) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  -ms-border-radius: $value;
  border-radius: $value;
}

@mixin border($border, $radius) {
  border: $border;
  @include radius($radius);
}

@mixin backgroundImage($width, $height, $alignCenter: false) {
  background-size: $width $height;
  background-repeat: no-repeat;

  @if $alignCenter {
    background-position: center;
  }
}

@mixin posAbsolute($top, $right, $bot, $left) {
  position: absolute;

  @if $top {
    top: $top;
  }

  @if $right {
    right: $right;
  }

  @if $bot {
    bottom: $bot;
  }

  @if $left {
    left: $left;
  }
}

@mixin posFixed($top, $right, $bot, $left) {
  position: fixed;

  @if $top {
    top: $top;
  }

  @if $right {
    right: $right;
  }

  @if $bot {
    bottom: $bot;
  }

  @if $left {
    left: $left;
  }
}

@mixin flex($dir: row, $justify-content: null, $align-items: null) {
  display: flex;
  flex-direction: $dir;

  @if $justify-content {
    justify-content: $justify-content;
  }

  @if $align-items {
    align-items: $align-items;
  }
}

@mixin divider-vertical($height, $margin-left, $margin-right, $size: $divider-size, $color: $main_color_2) {
  margin-left: $margin-left;
  margin-right: $margin-right;
  height: $height;
  border-left: $size solid $color;
}

@mixin default-btn($border-size, $border-radius, $font-weight: 400, $font-size: $font_size_text) {
  @extend %btn-colors;
  border: $border-size solid lighten($main_color_2, 20);
  border-radius: $border-radius;
  font-weight: $font-weight;
  font-size: $font-size;
}

@mixin text($size: $font_size_text, $weight: 400, $color: black) {
  font-size: scut-rem($size);
  font-weight: $weight;
  color: $color;
}

@mixin button-bg($bg) {
  background: $bg;

  &:hover {
    @extend %btn-transition;
    background: darken($bg, 10%);
  }

  &:active {
    background: darken($bg, 25%);
  }
}


@mixin placeholder {
  &::-webkit-input-placeholder {
    @content
  }

  &:-moz-placeholder {
    @content
  }

  &::-moz-placeholder {
    @content
  }

  &:-ms-input-placeholder {
    @content
  }
}

@mixin media($media) {
  @if $media==phone {
    @media only screen and (max-width: $phone_breakpoint) {
      @content;
    }
  }

  @else if $media==tablet {
    @media only screen and (min-width: $phone_breakpoint + 1) and (max-width: $tablet_breakpoint) {
      @content;
    }
  }
}
