$main_color_1: lighten(#D40E1F, 15);
$main_color_2: #FCAE03;

$color_black: #191919;
$color_white: #fff;
$color_grey: #ececec;
$color_grey_2: #7F7F7F;
$color_divider: #dad8d8;
$color_blue: #4285F4;
$color_dark_blue: #0d47a1;
$color_green: #00C851;
$color_dark_green: #007E33;
$color_aqua: #2BBBAD;
$color_dark_aqua: #00695c;
$color_red: #ff4444;
$color_dark_red: #CC0000;
$color_orange: #ffbb33;
$color_dark_orange: #FF8800;
$color_purple: #aa66cc;
$color_dark_purple: #9933CC;
$color_sidenav_background: #132644;
$color_main_background: rgba(218, 216, 216, 0.541);
$color_input_border: lighten(#2BBBAD, 25%);
$form_color: #737373;

$font_size_title: 36px;
$font_size_icon: 25px;
$font_size_subtitle: 24px;
$font_size_menu: 19px;
$font_size_important: 18px;
$font_size_text: 14px;
$font_size_btn: larger;

$font_weight_subtitle: 600;

$divider-size: 3px;

$transition: all 0.3s linear;
$spacing: 0.1rem;