@import "../sass/Main.scss";

.modal-backdrop {
  @extend %center-align;
  background-color: rgba(0, 0, 0, 0);
  opacity: 1;

  .add-game-modal {
    @include size(80rem, 500px);
    background-color: $color_white;
    box-shadow: 2px 2px 5px 1px;
    display: flex;
    flex-direction: column;
    @include radius(10px);

    .divider {
      @include size(80%, 1px);
      margin: 25px auto;
      background: -webkit-linear-gradient(left,
          rgb(255, 255, 255) 0%,
          $color_grey_2 50%,
          rgb(255, 255, 255) 100%);

      // @media only screen and (max-width: 800px) {
      //   margin-top: 3rem;
      // }
    }

    .modal-container {
      display: inline-block;
      position: relative;

      .modal-title {
        margin-top: 15px;
        padding-top: 10px;
        width: 100%;
        color: $color_black;
        font-size: $font_size_title;
        font-weight: bolder;
        text-align: center;

        .title {
          margin: 0;
          text-transform: uppercase;
          letter-spacing: 1px;
        }

        .modal-subtitle {
          color: darken($main_color_1, 10);
          font-size: 10px;
        }
      }

      .btn-close {
        padding: 0.4rem 0.6rem;
        display: block;
        position: absolute;
        right: 10px;
        top: 5px;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        color: darken($main_color_1, 10);
      }
    }

    form {
      margin-top: 0;

      .row {
        .form-group {
          .title-label {
            font-size: 16px;
            font-weight: bold;
          }

          .letter {
            line-height: 200%;
          }

          .form-input {
            border-color: #000000;
            height: 2.5rem;
          }

          .radio-input {
            margin: 0;
            padding: 7px 15px;
            display: flex;
            justify-content: space-between;
            border: 1px solid #000000;
            @include radius(5px);

            label {
              padding-left: 5px;
            }
          }
        }
      }

      .custom-btn {
        margin: 25px auto 0 auto;
        @include radius(5px);

        button {
          width: 10rem;
        }
      }
    }
  }
}