#cabecalho .search-item button, .flex-container .game-thumb .game-container .left-container .button-container button {
  background-color: #f12436;
  color: #fdce68;
  border: 3px solid #fdce68;
}

#cabecalho .search-item button:hover, .adv-search form .btn-container button:hover, .flex-container .game-thumb .game-container .left-container .button-container button:hover {
  cursor: pointer;
  border: 3px solid #ececec;
  color: #ececec;
}

.adv-search form .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app {
  background-color: #1b1b1b;
}

#app .main-container {
  width: 1600px;
  margin: auto;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    --active: #1b1b1b;
    --active-inner: #FCAE03;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #275EFE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    -webkit-transition: background .3s, border-color .3s, -webkit-box-shadow .2s;
    transition: background .3s, border-color .3s, -webkit-box-shadow .2s;
    transition: background .3s, border-color .3s, box-shadow .2s;
    transition: background .3s, border-color .3s, box-shadow .2s, -webkit-box-shadow .2s;
  }
  input[type='checkbox']:after,
  input[type='radio']:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
  }
  input[type='checkbox']:checked,
  input[type='radio']:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }
  input[type='checkbox']:disabled,
  input[type='radio']:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: .9;
  }
  input[type='checkbox']:disabled:checked,
  input[type='radio']:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  input[type='checkbox']:disabled + label,
  input[type='radio']:disabled + label {
    cursor: not-allowed;
  }
  input[type='checkbox']:hover:not(:checked):not(:disabled),
  input[type='radio']:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  input[type='checkbox']:focus,
  input[type='radio']:focus {
    -webkit-box-shadow: 0 0 0 var(--focus);
            box-shadow: 0 0 0 var(--focus);
  }
  input[type='checkbox']:not(.switch),
  input[type='radio']:not(.switch) {
    width: 21px;
  }
  input[type='checkbox']:not(.switch):after,
  input[type='radio']:not(.switch):after {
    opacity: var(--o, 0);
  }
  input[type='checkbox']:not(.switch):checked,
  input[type='radio']:not(.switch):checked {
    --o: 1;
  }
  input[type='checkbox'] + label,
  input[type='radio'] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }
  input[type='checkbox']:not(.switch) {
    border-radius: 7px;
  }
  input[type='checkbox']:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    -webkit-transform: rotate(var(--r, 20deg));
            transform: rotate(var(--r, 20deg));
  }
  input[type='checkbox']:not(.switch):checked {
    --r: 43deg;
  }
  input[type='checkbox'].switch {
    width: 38px;
    border-radius: 11px;
  }
  input[type='checkbox'].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    -webkit-transform: translateX(var(--x, 0));
            transform: translateX(var(--x, 0));
  }
  input[type='checkbox'].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  input[type='checkbox'].switch:disabled:not(:checked):after {
    opacity: .6;
  }
  input[type='radio'] {
    border-radius: 50%;
  }
  input[type='radio']:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    -webkit-transform: scale(var(--s, 0.7));
            transform: scale(var(--s, 0.7));
  }
  input[type='radio']:checked {
    --s: .5;
  }
}

ul {
  margin: 12px;
  padding: 0;
  list-style: none;
  width: 100%;
  max-width: 320px;
}

ul li {
  margin: 16px 0;
  position: relative;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

#cabecalho {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  background-color: #f23c4c;
}

#cabecalho .filial-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#cabecalho .filial-container h4 {
  color: #ececec;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

#cabecalho .search-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 15px;
  height: 40px;
}

#cabecalho .search-item input {
  margin-right: 10px;
  width: 40rem;
  height: 100%;
}

@media (min-width: 320px) and (max-width: 768px) {
  #cabecalho .search-item input {
    width: 100%;
  }
}

#cabecalho .search-item button {
  width: 120px;
  height: 100%;
  margin: 0;
  border-radius: 10px;
  font-weight: bold;
  font-size: larger;
}

.adv-search {
  width: 100%;
  height: 250px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.adv-search form {
  width: 50vw;
  height: 100%;
  background-color: #f23c4c;
  border-radius: 0 0 30px 30px;
}

.adv-search form .close-btn {
  color: #FCAE03;
  margin-right: 15px;
  margin-top: 5px;
  float: right;
  font-size: 18px;
}

.adv-search form .close-btn:hover {
  cursor: pointer;
}

.adv-search form .form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: "row";
          flex-direction: "row";
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: hidden;
  margin: auto;
  padding-top: 30px;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.adv-search form .form-input .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.adv-search form .form-input .label .icon {
  color: #FCAE03;
  font-size: 25px;
  width: 30px;
}

.adv-search form .form-input .label .divider {
  margin-left: 7px;
  margin-right: 7px;
  border-left: 3px solid #FCAE03;
  height: 25px;
}

.adv-search form .form-input select {
  width: 250px;
}

.adv-search form .btn-container {
  width: 100%;
}

.adv-search form .btn-container button {
  width: 75px;
  height: 25px;
  background-color: #f12436;
  color: #fdce68;
  border: 2px solid #fdce68;
  margin: auto;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 50%;
}

.nav-and-filters-container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-and-filters-container .pagination {
  margin-bottom: 0;
}

.nav-and-filters-container .dropdown-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-and-filters-container .dropdown-container .exibit-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.nav-and-filters-container .dropdown-container .exibit-dropdown p {
  color: #ececec;
  font-size: 18px;
  font-weight: bold;
  padding: 0 10px;
}

.nav-and-filters-container .adv-filter-btn-container button {
  margin-left: 15px;
  height: 38px;
  font-size: 1rem;
  text-align: center;
  line-height: initial;
}

/* THUMB ITEM STYLE */
.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.flex-container .not-available-overlay {
  height: 0px;
}

.flex-container .not_available {
  position: absolute;
  width: 500px;
  height: 230px !important;
  background-color: rgba(154, 154, 154, 0.9);
  z-index: 1000;
  margin: 0;
  padding: 0;
  text-align: center;
}

.flex-container .not_available p {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  font-size: 50px;
  font-weight: bolder;
  margin-top: 76px;
  padding: 0;
}

.flex-container .game-thumb {
  margin: 0.75rem;
  height: 230px;
}

.flex-container .game-thumb .not_available_admin {
  background-color: grey !important;
}

.flex-container .game-thumb .game-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 500px;
  height: 230px;
  background-color: #f23c4c;
}

.flex-container .game-thumb .game-container .left-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  width: 35%;
}

.flex-container .game-thumb .game-container .left-container .game-image-container {
  overflow: hidden;
}

.flex-container .game-thumb .game-container .left-container .game-image-container .game-hexagon {
  width: 225px;
  height: 225px;
  background-size: Auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin: -55px 0 0 -55px;
  padding: 70px 0 0 75px;
  background-image: url("../assets/images/Polygon1.svg");
}

.flex-container .game-thumb .game-container .left-container .game-image-container .game-hexagon .game-image-limiter {
  width: 100px;
  height: 100px;
}

.flex-container .game-thumb .game-container .left-container .game-image-container .game-hexagon .game-image-limiter .game-image {
  background-size: Auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  display: block;
}

.flex-container .game-thumb .game-container .left-container .button-container {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-container .game-thumb .game-container .left-container .button-container button {
  width: 80%;
  height: 45px;
  margin: 5px 0 0 15px;
  border-radius: 10px;
  font-weight: bold;
  font-size: larger;
}

.flex-container .game-thumb .game-container .game-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
  margin-right: 10px;
}

.flex-container .game-thumb .game-container .game-info-container .game-title {
  margin-top: 10px;
  height: 95px;
}

.flex-container .game-thumb .game-container .game-info-container .game-title h3 {
  font-size: 24px;
  text-align: center;
  color: #ececec;
  font-weight: bold;
  line-height: 25px;
}

.flex-container .game-thumb .game-container .game-info-container .game-info {
  padding-left: 30px;
}

.flex-container .game-thumb .game-container .game-info-container .game-info .info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 40px;
}

.flex-container .game-thumb .game-container .game-info-container .game-info .info-row .info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
  height: 100%;
}

.flex-container .game-thumb .game-container .game-info-container .game-info .info-row .info-item .icon {
  color: #FCAE03;
  font-size: 25px;
  width: 30px;
}

.flex-container .game-thumb .game-container .game-info-container .game-info .info-row .info-item .divider {
  margin-left: 7px;
  border-left: 3px solid #FCAE03;
  height: 65%;
}

.flex-container .game-thumb .game-container .game-info-container .game-info .info-row .info-item p {
  height: 100%;
  margin-left: 10px;
  color: white;
  vertical-align: middle;
  font-size: 14px;
  line-height: 180%;
  font-weight: 600;
}

.flex-container .game-thumb .game-container .game-info-container .game-info .info-row .info-item p span {
  font-size: 18px;
  font-weight: bold;
}

.no-items-found {
  margin: 0.75rem;
}

.no-items-found p {
  color: #ececec;
  font-size: 18px;
}

.pagination li a {
  color: #191919;
}
/*# sourceMappingURL=Games.css.map */