@import 'Main.scss';
@import '_include-media';

//variables
$background-purple: #EEEEEE;
$subtle-white: #f9f9f9;
$subtle-grey: #f2f2f2;
$masked-grey: #333;
$blue: #F03861;

$open-sans: 'Open Sans',
sans-serif;

#cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    background-color: $main_color_1;

    .filial-container {
        @include flex(row);

        h4 {
            color: $color_grey;
            font-size: $font_size_subtitle;
            font-weight: bold;

        }

        i {
            margin-left: 25px;
            color: $color_grey;
            line-height: 150%;
        }

        ul {
            display: none;
        }

        &:hover {
            cursor: pointer;

            ul {
                display: block;
                margin-top: 30px;
                padding-top: 20px;
                left: 10px;
                width: 200px;
                position: absolute;
                color: $color_grey;
                background-color: $main_color_1;
                z-index: 1000;
                border-radius: 0 0 15px 15px;

                li {
                    display: block;
                    font-size: $font_size_important;
                    font-weight: bold;
                    margin: 15px;
                    padding-left: 5px;
                    height: 30px;
                    &:hover {
                        border: 2px solid lighten($main_color_2, 20);
                        border-radius: 10px;
                    }

                }
            }
        }
    }


    .search-item {
        display: flex;
        padding-right: 15px;

        input {
            margin-right: 10px;
            width: 40rem;

            @include media('>=phone', '<=tablet') {
                width: 100%;
            }
        }

        button {
            @include size(120px, 45px);
            @extend %btn-colors;
            margin: 0;
            border-radius: 10px;
            font-weight: bold;
            font-size: $font_size_btn;
        }

        button:hover {
            @extend %btn-hover;
        }
    }
}

.adv-search {
    @include size(100%, 250px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    form {
        @include size(50vw, 100%);
        background-color: $main_color_1;
        border-radius: 0 0 30px 30px;

        .close-btn {
            color: $main_color_2;
            margin-right: 15px;
            margin-top: 5px;
            float: right;
            font-size: $font_size_important;
        }

        .close-btn:hover {
            cursor: pointer;
        }

        .form-input {
            @include flex("row");
            justify-content: space-around;
            overflow: hidden;
            margin: auto;
            padding-top: 30px;
            color: white;
            font-size: $font_size_important;
            font-weight: 600;

            .label {
                display: flex;

                i {
                    color: $main_color_2;
                    font-size: $font_size_icon;
                    width: 30px;
                }

                .divider {
                    margin-left: 7px;
                    margin-right: 7px;
                    border-left: 3px solid $main_color_2;
                    height: 25px;
                }
            }
        }

        .btn-container {
            width: 100%;
            @extend %center-align;

            button {
                @include size(75px, 25px);
                background-color: darken($main_color_1, 5);
                color: lighten($main_color_2, 20);
                border: 2px solid lighten($main_color_2, 20);
                margin: auto;
                border-radius: 5px;
                font-weight: bold;
                font-size: $font_size_text;
                line-height: 50%;
            }

            button:hover {
                @extend %btn-hover;
            }
        }
    }
}

.nav-and-filters-container {
    @include flex(row);
    align-items: center;

    .dropdown-container {
        @include flex(row);
        align-items: center;
        // margin: 30px 12px 12px 12px;

        .exibit-dropdown {
            @include flex(row);
            align-items: center;
            margin-right: 10px;

            p {
                color: $color_grey;
                font-size: $font_size_important;
                font-weight: bold;
                padding: 0 10px;
            }
        }
    }

    .adv-filter-btn-container {
        margin-left: 10px;

        button {
            height: 38px;
            font-size: 1rem;
            text-align: center;
            line-height: initial;
        }
    }
}

/* PAGINATION STYLE*/
// .pagination {
// margin-top: 25px;
// }

/* THUMB ITEM STYLE */
.flex-container {
    @include flex(row);
    flex-wrap: wrap;
    // justify-content: space-around;

    .game-thumb {
        margin: 0.75rem;

        .game-container {
            @include flex(row);
            @include size(500px, 230px);
            background-color: $main_color_1;

            .left-container {
                @include flex(column);
                display: flex;
                width: 35%;

                .game-image-container {
                    overflow: hidden;

                    .game-hexagon {
                        @include size(225px, 225px);
                        @include backgroundImage(Auto, 100%, true);
                        display: block;
                        margin: -55px 0 0 -55px;
                        padding: 70px 0 0 75px;
                        background-image: url("../assets/images/Polygon1.svg");

                        .game-image-limiter {
                            @include size(100px, 100px);

                            .game-image {
                                @include backgroundImage(Auto, 100%, true);
                                @include size(100%, 100%);
                                display: block;
                            }
                        }
                    }
                }

                .button-container {
                    height: 30%;
                    display: flex;

                    button {
                        @include size(80%, 45px);
                        @extend %btn-colors;
                        margin: 5px 0 0 15px;
                        border-radius: 10px;
                        font-weight: bold;
                        font-size: $font_size_btn;
                    }

                    button:hover {
                        @extend %btn-hover;
                    }
                }
            }

            .game-info-container {
                @include flex(column);
                width: 65%;
                margin-right: 10px;

                .game-title {
                    margin-top: 10px;
                    height: 95px;

                    h3 {
                        font-size: $font_size_subtitle;
                        text-align: center;
                        color: $color_grey;
                        font-weight: bold;
                        line-height: 25px;
                    }
                }

                .game-info {
                    padding-left: 30px;

                    .info-row {
                        @include flex(row);
                        height: 40px;

                        .info-item {
                            @include flex(row);
                            @include size(50%, 100%);

                            i {
                                color: $main_color_2;
                                font-size: $font_size_icon;
                                width: 30px;
                            }

                            .divider {
                                margin-left: 7px;
                                border-left: 3px solid $main_color_2;
                                height: 65%;
                            }

                            p {
                                height: 100%;
                                margin-left: 10px;
                                color: white;
                                vertical-align: middle;
                                font-size: $font_size_text;
                                line-height: 180%;
                                font-weight: 600;

                                span {
                                    font-size: $font_size_important;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.no-items-found {
    margin: 0.75rem;

    p {
        color: $color_grey;
        font-size: $font_size_important;
    }
}

//FIM THUMB ITEM STYLE
