@import 'vendors/_scut';

@import 'helpers/_variables';
@import 'helpers/_mixins';
@import 'helpers/_placeholders';
@import 'helpers/_atomic';

@import 'components/_buttons';
@import 'components/_dividers';
@import 'components/_dropdowns';
@import 'components/_icons';
@import 'components/_items';
@import 'components/_overlays';
@import 'components/_scroll-top';

@import 'layouts/modal/_modal-background';
@import 'layouts/modal/_modal-containers';
@import 'layouts/modal/_modal-header';
@import 'layouts/_adv-search';
@import 'layouts/_errors';
@import 'layouts/_footer';
@import 'layouts/_forms';
@import 'layouts/_inputs';
@import 'layouts/_items-display';
@import 'layouts/_navbar';
@import 'layouts/_navigation';
@import 'layouts/_pagination';
@import 'layouts/_sub-header';

#app {
  background-color: lighten($color: #1b1b1b, $amount: 2);
}

ul {
  margin: 12px;
  padding: 0;
  list-style: none;
  width: 100%;
  max-width: 320px;

  li {
    margin: 16px 0;
    position: relative;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}